<mat-sidenav-content class="main-content">

  <div class="page-header">
    <span class="green-bar"></span>
    <h2>CIF 修改功能</h2>
  </div>

  <div class="content-card">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="form-grid four-cols">
        <div class="field-group">
          <label>身份證字號</label>
          <div class="readonly-text">
            {{ editForm.get('idNum')?.value }}
          </div>
        </div>

        <div class="field-group">
          <label>中文姓名</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput formControlName="chineseName" placeholder="請輸入姓名">
            <mat-error *ngIf="editForm.get('chineseName')?.hasError('required')">必填</mat-error>
          </mat-form-field>
        </div>

        <div class="field-group">
          <label>性別</label>
          <div class="radio-group-container">
            <mat-radio-group formControlName="gender" color="primary">
              <mat-radio-button value="m">男</mat-radio-button>
              <mat-radio-button value="f">女</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="field-group">
          <label>學歷</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select formControlName="education">
              <mat-option value="學士">學士</mat-option>
              <mat-option value="碩士">碩士</mat-option>
              <mat-option value="博士">博士</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-grid address-row">
        <div class="field-group">
          <label>郵遞區號</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput formControlName="zipCode_1" placeholder="請輸入郵遞區碼">
          </mat-form-field>
        </div>

        <div class="field-group span-2">
          <label>戶籍地址</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput formControlName="address1" placeholder="請輸入地址">
          </mat-form-field>
        </div>

        <div class="field-group">
          <label>戶籍電話</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput formControlName="telephone1" placeholder="請輸入電話">
          </mat-form-field>
        </div>
      </div>

      <div class="form-grid address-row">
        <div class="field-group">
          <label>郵遞區號</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput formControlName="zipCode_2" placeholder="請輸入郵遞區碼">
          </mat-form-field>
        </div>

        <div class="field-group span-2">
          <label>現居地址</label>
          <div class="flex-row">
            <mat-checkbox formControlName="sameAsAddress1" color="primary">同戶籍地址</mat-checkbox>
            <mat-form-field appearance="outline" class="flex-1" subscriptSizing="dynamic">
              <input matInput formControlName="address2">
            </mat-form-field>
          </div>
        </div>

        <div class="field-group">
          <label>現居電話</label>
          <div class="flex-row">
            <mat-checkbox formControlName="sameAsTelephone1" color="primary">同戶籍電話</mat-checkbox>
            <mat-form-field appearance="outline" class="flex-1" subscriptSizing="dynamic">
              <input matInput formControlName="telephone2">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="form-grid four-cols">
        <div class="field-group">
          <label>行動電話</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput formControlName="mobile">
          </mat-form-field>
        </div>

        <div class="field-group">
          <label>電子郵件</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput formControlName="email">
          </mat-form-field>
        </div>

        <div class="field-group span-2">
          <label>現居年限 (至少)</label>
          <div class="slider-group">
            <span class="year-display">{{ editForm.get('year')?.value }} 年</span>
            <mat-slider min="0" max="100" step="1" discrete>
              <input matSliderThumb [formControl]="$any(editForm.get('year'))">
            </mat-slider>
          </div>
        </div>
      </div>

      <div class="actions">
        <button mat-flat-button class="save-btn" type="submit" [disabled]="editForm.invalid">
          儲存
        </button>
        <button mat-stroked-button class="outline-green" type="button" (click)="onClear()">
          清除
        </button>
        <button mat-stroked-button class="outline-green" type="button" (click)="onReturn()">
          返回
        </button>
      </div>

    </form>
  </div>
</mat-sidenav-content>