<div class="main-content">

  <div class="page-header">
    <div class="green-bar"></div>
    <h2>查詢 CIF 資料</h2>
  </div>

  <div class="content-card">
    <app-search001 (searchEvent)="onSearchFromChild($event)"></app-search001>

    <div class="table-container mat-elevation-z2" style="margin-top: 20px;">

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="idNum">
          <th mat-header-cell *matHeaderCellDef> 身分證字號 </th>
          <td mat-cell *matCellDef="let element"> {{element.idNum}} </td>
        </ng-container>

        <ng-container matColumnDef="chineseName">
          <th mat-header-cell *matHeaderCellDef> 姓名 </th>
          <td mat-cell *matCellDef="let element"> {{element.chineseName}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> 性別 </th>
          <td mat-cell *matCellDef="let element">
            {{ element.gender === 'M' ? '男' : (element.gender === 'F' ? '女' : element.gender) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="education">
          <th mat-header-cell *matHeaderCellDef> 學歷 </th>
          <td mat-cell *matCellDef="let element"> {{element.education}} </td>
        </ng-container>

        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef> 手機 </th>
          <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="zipCode1">
          <th mat-header-cell *matHeaderCellDef>郵遞區號 </th>
          <td mat-cell *matCellDef="let element"> {{element.zipCode1}} </td>
        </ng-container>
        <ng-container matColumnDef="address1">
          <th mat-header-cell *matHeaderCellDef>戶籍地址 </th>
          <td mat-cell *matCellDef="let element"> {{element.address1}} </td>
        </ng-container>
        <ng-container matColumnDef="telephone1">
          <th mat-header-cell *matHeaderCellDef> 戶籍電話 </th>
          <td mat-cell *matCellDef="let element"> {{element.telephone1}} </td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef> 居住年限 </th>
          <td mat-cell *matCellDef="let element"> {{element.year}} 年 </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 180px;"> 功能 </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <button mat-flat-button color="accent" style="margin-right: 8px; background-color: #f59e0b; color: white;"
              (click)="onEdit(element)">
              修改
            </button>
            <button mat-flat-button color="warn" (click)="onDelete(element)">
              刪除
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="8" style="text-align: center; padding: 20px; color: gray;">
            目前無資料
          </td>
        </tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of customer elements">
      </mat-paginator>

    </div>
  </div>

</div>
