/* 您可以在此文件中添加全局樣式，也可以導入其他樣式文件 */

/* 成功訊息樣式 */
.success-snackbar {
  --mdc-snackbar-container-color: #4caf50; /* 背景綠色 */
  --mdc-snackbar-label-text-color: white;  /* 文字白色 */
}

/* 失敗訊息樣式 */
.fail-snackbar {
  --mdc-snackbar-container-color: #f44336; /* 背景紅色 */
  --mdc-snackbar-label-text-color: white;  /* 文字白色 */
}
